@using shoping.Models
@model Product

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="/css/site.css">
</head>

<body>
    <div class="wrapper">
        <div class="card">
            <div class="card-cover">
                <div class="cover-text">@Model.ProductName</div><img src="/img/@Model.ProductImg" />
            </div>
            <div class="card-content">
                <h1 class="title">@Model.ProductName</h1>
                <h2 class="sub">Xbox's Games</h2>
                <div class="rating"></div>
                <div class="price">@Model.ProductSalary</div>
                <p class="desc">
                    @Model.ProductDescription Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio nemo, autem aliquam eligendi sed deserunt
                    perferendis atque nihil velit quia quaerat tenetur accusamus nisi perspiciatis consequatur quae a molestiae.
                    Consequatur! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis quidem unde reprehenderit nesciunt
                    earum mollitia aliquam. Deserunt provident, aliquam blanditiis, eaque optio nobis accusamus officia voluptatum
                    asperiores dolorem possimus rem.
                </p>
                <div class="card-block">
                    <div class="card-block-title">count</div>
                    <div class="options">
                        <a class="options" href="#">1</a><a class="options" href="#">2</a><a class="options active" href="#">5</a><a class="options" href="#">10</a><a class="options"
                                                                                                                                                                       href="#">15</a>
                    </div>
                </div>
                <div class="card-block">
                    <div class="card-block-title">colors</div>
                    <div class="color-options">
                        <input class="orange" type="radio" name="color" checked="checked" />
                        <input class="green" type="radio" name="color" />
                        <input class="yellow" type="radio" name="color" />
                        <input class="blue" type="radio" name="color" />
                    </div>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="container">
                        <button class="add-to-cart-button">
                            <svg class="add-to-cart-box box-1" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <rect width="24" height="24" rx="2" fill="#ffffff" />
                            </svg>
                            <svg class="add-to-cart-box box-2" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <rect width="24" height="24" rx="2" fill="#ffffff" />
                            </svg>
                            <svg class="cart-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round">
                                <circle cx="9" cy="21" r="1"></circle>
                                <circle cx="20" cy="21" r="1"></circle>
                                <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                            </svg>
                            <svg class="tick" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="none" d="M0 0h24v24H0V0z" />
                                <path fill="#ffffff"
                                      d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM9.29 16.29L5.7 12.7c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0L10 14.17l6.88-6.88c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41l-7.59 7.59c-.38.39-1.02.39-1.41 0z" />
                            </svg>
                            <span class="add-to-cart">Add to cart</span>
                            <span class="added-to-cart">Added to cart</span>
                        </button>
                    </div>
                    <div class="long">
                        <a href="/Home/Index">Continue Shopping</a>
                    </div>
                }else
                {
                    <div class="long">
                        <a href="/Home/Index">Continue Shopping</a>
                    </div>
                }
            </div>
        </div>
    </div>

    <script src="/js/site.js"></script>
</body>

</html>